body {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: darkgray;
    font-family: 'Jua', sans-serif;
    box-sizing: border-box;
    color: #35465d;
}

.title {
    font-family: 'Im_Hyemin-Bold';
    font-size: 28px;
    text-align: center;
}

.rottoNum_wrap {
    left: 500px;
    display: inline-block;
    font-size: 50px;
    text-align: center;
    
}

.content{
    height: auto;
    width: auto;
}
    

.ball span {
    display: block;
    font-size: 50px;
    text-align: auto;
    line-height: auto;
    margin: 0 auto;
    
}



.btn_wrap {
    width: auto;
    height: auto;
    left: 700px;
    margin-right: 150px;
    text-align: center;
    margin-top: 50px;
       
}



.ball1 {
    background-color: yellow;
    width: 40px;
    height:40px;
    margin: 100px 10px 100px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: auto;
    font-size: 2rem; 
    
}

.ball2 {
    background-color: deepskyblue;
    width: 40px;
    height:40px;
    margin: 200px 10px 200px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: auto;
    font-size: 2rem; 
   
}

.ball3 {
    background-color: rgb(28, 248, 54);
    width: 40px;
    height:40px;
    margin: 200px 10px 200px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: auto;
    font-size: 2rem;  
    
}

.ball4 {
    background-color: rgb(250, 94, 21);
    width: 40px;
    height:40px;
    margin: 200px 10px 200px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: auto;
    font-size: 2rem; 
}

.ball5 {
    background-color: rgb(244, 35, 35);
    width: 40px;
    height:40px;
    margin: 100px 10px 100px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: auto;
    font-size: 2rem; 
}

.ball6 {
    background-color: rgb(200, 58, 236);
    width: 40px;
    height:40px;
    margin: 100px 10px 100px auto;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 2rem; 
    
    
}

.admob{
    margin-left: 100px;
    margin-top: 0px;
}

.all-banner{
    position: sticky;
    width: auto;
    height: auto;
}
