body {
    background-color: darkgray;
    margin: 0 auto;
    position: sticky;
    top:0px;

}

.h2 {
    text-align: center;
    font-style: initial;
    margin-top: auto;
    
   
    
}

.title {
    font-family: 'Im_Hyemin-Bold';
    font-size: 50px;
    text-align: center;
}

.rottoNum_wrap {
    width: auto;
    height: auto;
    position: absolute;
    left: 500px;
    display: inline-block;
    font-size: 50px;
    text-align: center;
    
}

.content{
    position: sticky;
    top:0px;
    position: absolute;
    left: 550px;
}

/* .ball {
    background-color: yellow;
    width: 80px;
    height:80px;
    margin: 200px 10px 200px auto;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-left: center;
    text-align: center;
    line-height: auto;
    font-size: 3rem; */
/* } */
    

.ball span {
    display: block;
    font-size: 50px;
    text-align: auto;
    margin-top: 20px;
    margin-left: auto;
    line-height: auto;
    margin: 0 auto;
    
}



.btn_wrap {
    width: 100px;
    left: 700px;
    margin-right: 430px;
    text-align: center;
    margin-top: 400px;
    position: absolute;
    position: sticky;
    
}




.ball1 {
    background-color: yellow;
    width: 60px;
    height:60px;
    margin: 200px 10px 200px auto;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-left: center;
    text-align: center;
    line-height: auto;
    font-size: 3rem; 
    position: sticky;
    top: 10px;
}

.ball2 {
    background-color: deepskyblue;
    width: 60px;
    height:60px;
    margin: 200px 10px 200px auto;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-left: center;
    text-align: center;
    line-height: auto;
    font-size: 3rem; 
    position: sticky;
    top: 10px;
}

.ball3 {
    background-color: rgb(28, 248, 54);
    width: 60px;
    height:60px;
    margin: 200px 10px 200px auto;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-left: center;
    text-align: center;
    line-height: auto;
    font-size: 3rem; 
    position: sticky;
    top: 10px;
}

.ball4 {
    background-color: rgb(250, 94, 21);
    width: 60px;
    height:60px;
    margin: 200px 10px 200px auto;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-left: center;
    text-align: center;
    line-height: auto;
    font-size: 3rem; 
    position: sticky;
    top: 10px;
}

.ball5 {
    background-color: rgb(244, 35, 35);
    width: 60px;
    height:60px;
    margin: 200px 10px 200px auto;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-left: center;
    text-align: center;
    line-height: auto;
    font-size: 3rem; 
    position: sticky;
    top: 10px;
}

.ball6 {
    background-color: rgb(200, 58, 236);
    width: 60px;
    height:60px;
    margin: 200px 10px 200px auto;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    margin-left: center;
    text-align: center;
    line-height: auto;
    font-size: 3rem; 
    position: sticky;
    top: 10px;
}

.admob{
    margin-left: 100px;
    margin-top: 0px;
}